<h1 class="text-center mt-5 fw-bold">Bookmarks</h1>

<h3 class="text-center">Add a movie to your <%= @list.name %> list</h3>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="container">
    <div class="form-group">
      <%= f.input :comment, placeholder: 'Enter a comment about the movie', input_html: { class: 'form-control form-control-sm' } %>
    </div>
    <div class="form-group">
      <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'form-control form-control-sm select2' } %>
    </div>
    <div class="form-group text-center">
      <%= f.submit 'Add Movie', class: 'btn btn-magic text-decoration-none text-white ms-5 fw-bold' %>
    </div>
  </div>
<% end %>

<footer class="mt-5 text-center">
  <p class="text-white">
    <%= link_to 'Back to Lists', lists_path, class: "btn btn-magic text-decoration-none text-white ms-5 fw-bold" %>
  </p>
</footer>
